//! **************************************************************************
// Written by: Map P.20131013 on Mon Sep 12 13:06:08 2016
//! **************************************************************************

SCHEMATIC START;
COMP "sw<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "G3" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "F3" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "E2" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "N3" LEVEL 1;
COMP "Led<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "Led<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "Led<2>" LOCATE = SITE "P7" LEVEL 1;
SCHEMATIC END;

